@import url('https://fonts.cdnfonts.com/css/mona-sans?styles=144343,144355,144329');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Mona Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.background{
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(1.1);
}

.container{
    background-color: #e7e7e7;
    height: 630px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.container:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}


.player-img{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 50px;
    text-align: center;
}

.player-img img{
    object-fit: cover;
    border-radius: 20px;
    height: 0;
    width: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin: 80px 0 0;
}

h3{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0 0;
}

.player-progress{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 20px 35px;
    height: 6px;
    width: 90%;
}

.progress{
    background-color: #212121;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.music-duration span{
    font-weight: 600;
}

.player-controls{
    position: relative;
    top: -20px;
    left: 120px;
    width: 200px;
}

.fa-solid{
    font-size: 30px;
    color: #666;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.fa-solid:hover{
    filter: brightness(40%);
}

.play-button{
    font-size: 44px;
    position: relative;
    top: 3px;
}

#song-count {
    font-size: 1rem; /* Tamaño de fuente del texto */
    font-weight: 600;
}

/* Estilos para el control de volumen */
/* Estilos para el control de volumen */
/* Estilos para el control de volumen */
.volume-control {
    text-align: center;
    margin-top: 20px;
    position: relative; /* Agregar posición relativa para alinear con el control deslizante */
}

/* Contenedor de los iconos de volumen */
.volume-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Estilo para los iconos de volumen */
ion-icon.volume-icon {
    font-size: 20px; /* Ajusta el tamaño deseado */
    color: #333; /* Color de los iconos */
}


/* Estilo para los iconos de volumen */
.volume-icon {
    font-size: 6rem;
    color: #333;
    margin-bottom: 2px;
}

/* Estilos para la parte del control deslizante que sube y baja */
.volume-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
}

#volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

  

/* Media query */

@media screen and (max-width: 800px) {
    .container{
        height: 550px;
        width: 330px;
    }

    .volume-control{
        margin-top: 8px;
    }

    .player-img{
        width: 228px;
        height: 223px;
    }

    .player-controls{
        top: -20px;
        left: 90px;
    }
}


.container-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container-loader span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container-loader span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .container-loader span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .container-loader span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .container-loader span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .container-loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
